<section class="hero position-relative pt-5">
  <div class="position-absolute w-100">
    <div class="container">
      <div class="row align-items-center py-2">
        <div class="col-lg-6">
          <div>
            <h1
              class="text-capitalize text-white"
              style="text-shadow: 1px 1px black"
            >
              World's Most Powerful
              <span class="text-primary"
                >Online Invoicing & Billing Software</span
              >
            </h1>
            <p class="text-white fs-5 mb-3">
              Automate your business processes & communication with online
              invoicing, recurring billing, client / vendor panels, time
              tracking, workflows & more.
            </p>
            <div class="row">
              <div class="col-6 col-md-6 mb-3">
                <div class="card">
                  <div class="card-body text-secondary p-2">
                    <i class="bi bi-check2-square text-primary"></i>
                    communication
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-6 mb-3">
                <div class="card">
                  <div class="card-body text-secondary p-2">
                    <i class="bi bi-check2-square text-primary"></i>
                    communication
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-6 mb-3">
                <div class="card">
                  <div class="card-body text-secondary p-2">
                    <i class="bi bi-check2-square text-primary"></i>
                    communication
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-6 mb-3">
                <div class="card">
                  <div class="card-body text-secondary p-2">
                    <i class="bi bi-check2-square text-primary"></i>
                    communication
                  </div>
                </div>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex mb-3">
              <a role="button" class="btn btn-dark shadow-sm py-3 px-5"
                >Suscribirse <i class="bi bi-hand-index-thumb"></i
              ></a>
              <a
                routerLink="/login"
                role="button"
                class="btn btn-primary shadow-sm text-white py-3 px-5"
                >Iniciar Sesion <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <img
            src="../../../assets/images/online-invoicing-software.webp"
            alt="Logo Prana Sanación"
            class="img-fluid shadow-sm"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <a href="#">
          <div class="card text-center border-0">
            <i
              class="bi bi-file-earmark-ruled text-primary mt-3"
              style="font-size: 70px"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Gestiona prospectos y tratos</h5>
              <p class="card-text text-dark">
                Capta más prospectos muy interesados directamente en tu embudo
                las 24 horas del día a través de tu chatbot y formularios web
                personalizado.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="#">
          <div class="card text-center border-0">
            <i
              class="bi bi-file-earmark-ruled text-primary mt-3"
              style="font-size: 70px"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Gestiona prospectos y tratos</h5>
              <p class="card-text text-dark">
                Capta más prospectos muy interesados directamente en tu embudo
                las 24 horas del día a través de tu chatbot y formularios web
                personalizado.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="#">
          <div class="card text-center border-0">
            <i
              class="bi bi-file-earmark-ruled text-primary mt-3"
              style="font-size: 70px"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Gestiona prospectos y tratos</h5>
              <p class="card-text text-dark">
                Capta más prospectos muy interesados directamente en tu embudo
                las 24 horas del día a través de tu chatbot y formularios web
                personalizado.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="#">
          <div class="card text-center border-0">
            <i
              class="bi bi-file-earmark-ruled text-primary mt-3"
              style="font-size: 70px"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Gestiona prospectos y tratos</h5>
              <p class="card-text text-dark">
                Capta más prospectos muy interesados directamente en tu embudo
                las 24 horas del día a través de tu chatbot y formularios web
                personalizado.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="#">
          <div class="card text-center border-0">
            <i
              class="bi bi-file-earmark-ruled text-primary mt-3"
              style="font-size: 70px"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Gestiona prospectos y tratos</h5>
              <p class="card-text text-dark">
                Capta más prospectos muy interesados directamente en tu embudo
                las 24 horas del día a través de tu chatbot y formularios web
                personalizado.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="#">
          <div class="card text-center border-0">
            <i
              class="bi bi-file-earmark-ruled text-primary mt-3"
              style="font-size: 70px"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Gestiona prospectos y tratos</h5>
              <p class="card-text text-dark">
                Capta más prospectos muy interesados directamente en tu embudo
                las 24 horas del día a través de tu chatbot y formularios web
                personalizado.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="banner position-relative" style="height: 400px">
  <div class="overlay"></div>
  <div class="position-absolute w-100 h-100" style="z-index: 2000">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-8 text-center">
          <h2 class="h1 text-primary">¿Qué esperas?</h2>
          <p class="fs-4 text-white">
            Adquiere nuestro software y administra de forma ágil y sencilla tu
            negocio inmobiliario
          </p>
          <a role="button" class="btn btn-dark shadow-sm py-3 px-5"
            >Suscribirse <i class="bi bi-hand-index-thumb"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <video autoplay muted loop class="w-100 d-none d-lg-block">
    <source src="../../../assets/video.mp4" type="video/mp4" />
  </video>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-center card-prince">
          <div class="card-prince-after">
            <button type="button" class="btn btn-outline-dark">
              Comprar Plan
            </button>
          </div>
          <i
            class="bi bi-file-earmark-ruled text-primary mt-3"
            style="font-size: 70px"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Estandar</h5>
            <p class="card-text">
              Recibe un mes gratis por la compra de este plan.
            </p>
            <ul class="text-start">
              <li>Gestión comercial</li>
              <li>Gestión Administrativa Inmobiliaria</li>
              <li>Gestión Financiera</li>
              <li>Gestión Contable</li>
              <li>Informes de gestión</li>
              <li>Soporte técnico remoto</li>
              <li>Capacitación</li>
              <li>Sitio web Especializado</li>
              <li>Registro de dominio (.com .net o .info)</li>
            </ul>
            <p class="fs-3 fw-semibold">
              <span class="text-primary">$</span> 250.000
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-center card-prince">
          <div class="card-prince-after">
            <button type="button" class="btn btn-outline-dark">
              Comprar Plan
            </button>
          </div>
          <i
            class="bi bi-buildings text-primary mt-3"
            style="font-size: 70px"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Experto</h5>
            <p class="card-text">
              Recibe un mes gratis por la compra de este plan.
            </p>
            <ul class="text-start">
              <li>Gestión comercial</li>
              <li>Gestión Administrativa Inmobiliaria</li>
              <li>Gestión Financiera</li>
              <li>Gestión Contable</li>
              <li>Informes de gestión</li>
              <li>Soporte técnico remoto</li>
              <li>Capacitación</li>
              <li>Sitio web Especializado</li>
              <li>Registro de dominio (.com .net o .info)</li>
            </ul>
            <p class="fs-3 fw-semibold">
              <span class="text-primary">$</span> 350.000
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-center card-prince">
          <div class="card-prince-after">
            <button type="button" class="btn btn-outline-dark">
              Comprar Plan
            </button>
          </div>
          <i
            class="bi bi-cash-coin text-primary mt-3"
            style="font-size: 70px"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Elite</h5>
            <p class="card-text">
              Recibe un mes gratis por la compra de este plan.
            </p>
            <ul class="text-start">
              <li>Gestión comercial</li>
              <li>Gestión Administrativa Inmobiliaria</li>
              <li>Gestión Financiera</li>
              <li>Gestión Contable</li>
              <li>Informes de gestión</li>
              <li>Soporte técnico remoto</li>
              <li>Capacitación</li>
              <li>Sitio web Especializado</li>
              <li>Registro de dominio (.com .net o .info)</li>
            </ul>
            <p class="fs-3 fw-semibold">
              <span class="text-primary">$</span> 550.000
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
