<div class="toast-container position-fixed bottom-0 end-0 p-3" *ngIf="estado">
  <div
    role="alert" id="liveToast"
    aria-live="assertive"
    aria-atomic="true"
    class="toast fade-in show"
  >
    <div class="toast-header {{ data.bg }} text-white">
      <h5 class="me-auto m-0 h6">
        <i class="{{ data.icon }}" style="font-size: 18px"></i> {{ data.type }}
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body {{ data.text }}">{{ data.message }}</div>
  </div>
</div>