<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm bg-white">
    <div class="container">
        <div class="row justify-content-between align-items-center w-100">
            <div class="col-lg-3 text-center">
                <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/logo.png" alt="" class="img-fluid"></a>
            </div>
            <div class="col-lg-4 d-flex gap-2 justify-content-end align-items-center mt-3 mt-md-0">
                <a role="button" class="btn btn-dark ">Suscribirse <i class="bi bi-hand-index-thumb"></i></a>
                <a routerLink="/login" role="button" class="btn btn-primary text-white ">Iniciar Sesion <i class="bi bi-arrow-right"></i></a>             
            </div>
        </div>
    </div>
  </nav>
