<div class="row">
  <div class="col-md-8">
    <div class="card shadow-sm mb-3 bg-light fade-in">
      <div
        class="card-header d-block d-md-flex justify-content-between align-items-center"
      >
        <h3 class="h5 m-0">Categorias</h3>
        <div
          class="d-grid gap-3 d-flex justify-content-center justify-content-md-end"
        >
          <button
            class="btn btn-dark"
            data-title="Guardar Registro"
            *ngIf="this._botones.botones.btnGuardar"
            (click)="postCategoria()"
          >
            <i class="bi bi-save"></i>
          </button>
          <button data-title="Actualizar Registro"
              class="btn btn-dark" (click)="putCategoria()"
              *ngIf="this._botones.botones.btnActualizar"
            >
            <i class="bi bi-arrow-clockwise"></i>
            </button>
            <button data-title="Eliminar Registro"
              class="btn btn-danger" (click)="deleteCategoria()"
              *ngIf="this._botones.botones.btnActualizar"
            >
              <i class="bi bi-trash3"></i>
            </button>
          <button (click)="getListadoCategoria()"
            data-title="Listar Registros"
            class="btn btn-dark"
            *ngIf="this._botones.botones.btnListado"
          >
            <i class="bi bi-eye"></i>
          </button>
          <button (click)="limpiarVista()"
            data-title="Limpiar Formulario"
            class="btn btn-primary text-white"
          >
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="formulario" class="row align-items-end">
          <div class="col-md-4 mb-3">
            <label for="">Titulo de la categoria</label>
            <input
              class="form-control form-control-sm"
              formControlName="name"
            />
            <app-valid-form
              [validacion]="{
                formulario: this.formControl(),
                input: 'name'
              }"
            ></app-valid-form>
          </div>

          <div class="col-md-4 mb-3">
            <label for="">Imagenes de la categoria</label>
            <input
              class="form-control form-control-sm"
              formControlName="image"
            />
            <app-valid-form
              [validacion]="{
                formulario: this.formControl(),
                input: 'image'
              }"
            ></app-valid-form>
          </div>
        </form>
        <div class="card my-2 shadow-sm">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h4 class="h6 text-secondary m-0">Listado de Categorias</h4>
            <div class="col-md-4">
              <input
                class="form-control form-control-sm"
                placeholder="Buscar"
              />
            </div>
          </div>
          <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
            <div class="contenedor-tabla">
              <table class="table" *ngIf="listadoCategorias.length > 0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la Categoria</th>
                    <th scope="col">Imagen</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categoria of listadoCategorias; let index=index" >
                    <th scope="row">{{index+1}}</th>
                    <td style="width: 500px;">{{categoria.name}}</td>
                    <td><img [src]="categoria.image" alt="" width="150"></td>
                    <td class="d-flex">
                      <button type="button" class="btn btn-primary" (click)="setEditarCategoria(categoria)"><i class="bi bi-pencil"></i></button>
                      <button type="button" class="btn btn-danger" (click)="deleteCategoria(categoria)"><i class="bi bi-trash3"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 d-none d-md-block">
    <img
      src="../../../../assets/images/img-conceptos.svg"
      alt=""
      class="img-fluid"
    />
  </div>
</div>
