.nav {
  li {
    a {
      color: rgba(255, 255, 255, 0.507);
      margin: 5px 15px;
      border-radius: 30px;
      display: flex;
      text-decoration: none;
      position: relative;
      text-transform: capitalize;
      cursor: pointer;
      font-size: medium;
      font-weight: 400;
      padding: 10px;
      line-height: 2;
     
    }
    &:hover:not(.active) > a,
    &:focus:not(.active) > a {
      background-color: rgba(255, 255, 255, 0.199);
      box-shadow:  0 .5rem 1rem rgba(#000000, .15);
      color: #fff;
    }
    }
}
.active {
  a {
    color: #f0711d !important;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(#000000, 0.15);
  }
}
