<div class="accordion" id="accordionPanelsStayOpenExample">
  <div *ngFor="let menu of menuPrincipal">
    <h4 class="accordion-header" id="panelsStayOpen-headingOne">
      <a
        class="d-flex p-2 w-100 link-primary"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#tab_' + menu.marker"
        aria-controls="panelsStayOpen-collapseOne"
        aria-expanded="false"
      >
      <i class="bi bi-arrow-right-circle"></i> &nbsp;
       <h3 class="h5 text-white">{{ menu.title }}</h3>
      </a>
    </h4>
    <div
      id="tab_{{ menu.marker }}"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body p-0">
        <ul class="nav flex-column">
          <li
            routerLinkActive="active"
            *ngFor="let menuItem of menu.menuItems"
            class="nav-item"
          >
            <a [routerLink]="[menuItem.path]">
              <i class="bi bi-{{ menuItem.icon }}"></i> &nbsp;
              {{ menuItem.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
