<section style="min-height: 88vh; background: linear-gradient(to right, #f12711, #f5af19);">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-4 mt-5">
                <div class="card shadow-lg text-center mb-3">
                    <div class="card-body px-4">
                      <h5 class="card-title">Inicio de Sesión</h5>
                      <p class="card-text text-secondary mb-4">Una manera diferente de hacer tu contabilidad.</p>
                      <form [formGroup]="formulario" class="row">
                        <div class="col-md-12 mb-4">
                            <input
                              type="email" placeholder="Correo Electrónico"
                              class="form-control"
                              formControlName="email"
                            />
                            <app-valid-form [validacion]="{ formulario : this.formControl(), input: 'email' }"></app-valid-form>
                        </div>
                        <div class="col-md-12 mb-4">
                          <input
                            type="password" placeholder="Contraseña"
                            class="form-control"
                            formControlName="password"
                          />
                          <app-valid-form [validacion]="{ formulario : this.formControl(), input: 'password' }"></app-valid-form>
                      </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary text-white w-100" (click)="iniciarSesion()">Ingresar ahora</button>
                        </div>
                      </form>
                    </div>
                    <p class="text-secondary">Nuestras Redes Sociales</p>
                    <div class="d-flex gap-2 justify-content-center mb-3">
                        <a href="#" class="btn btn-outline-dark "><i class="bi bi-facebook"></i></a>
                        <a href="#" class="btn btn-outline-dark "><i class="bi bi-instagram"></i></a>
                        <a href="#" class="btn btn-outline-dark "><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
