<div *ngIf="estado"
  class="bg-light bg-opacity-25 lds d-flex flex-column justify-content-center align-items-center w-100"
>
  <div
    class="spinner-border text-primary"
    role="status"
    style="width: 3rem; height: 3rem"
  ></div>
  <p class="text-dark">&nbsp; <strong>Cargando...</strong></p>
</div>
