<div class="row">
    <div class="col-md-8">
      <div class="card shadow-sm mb-3 bg-light fade-in">
        <div
          class="card-header d-block d-md-flex justify-content-between align-items-center"
        >
          <h3 class="h5 m-0">Productos</h3>
          <div
            class="d-grid gap-3 d-flex justify-content-center justify-content-md-end"
          >
            <button
              class="btn btn-dark"
              data-title="Guardar Registro"
              *ngIf="this._botones.botones.btnGuardar"
              (click)="postProducto()"
            >
              <i class="bi bi-save"></i>
            </button>
            <button data-title="Actualizar Registro"
              class="btn btn-dark" (click)="putProducto()"
              *ngIf="this._botones.botones.btnActualizar"
            >
            <i class="bi bi-arrow-clockwise"></i>
            </button>
            <button data-title="Eliminar Registro"
              class="btn btn-danger" (click)="deleteProducto()"
              *ngIf="this._botones.botones.btnActualizar"
            >
              <i class="bi bi-trash3"></i>
            </button>
            <button
              data-title="Listar Registros" (click)="this.getListadoProductos()"
              class="btn btn-dark"
              *ngIf="this._botones.botones.btnListado"
            >
              <i class="bi bi-eye"></i>
            </button>
            <button
              data-title="Limpiar Formulario"
              class="btn btn-primary text-white" (click)="limpiarVista()"
            >
              <i class="bi bi-x-circle"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" class="row align-items-end">
            <div class="col-md-4 mb-3">
              <label for="">Titulo del producto</label>
              <input
                class="form-control form-control-sm"
                formControlName="title"
              />
              <app-valid-form
                [validacion]="{
                  formulario: this.formControl(),
                  input: 'title'
                }"
              ></app-valid-form>
            </div>
  
            <div class="col-md-4 mb-3">
                <label for="">Precio del producto</label>
                <input
                  class="form-control form-control-sm"
                  formControlName="price"
                />
                <app-valid-form
                  [validacion]="{
                    formulario: this.formControl(),
                    input: 'price'
                  }"
                ></app-valid-form>
              </div>

              <div class="col-md-4 mb-3">
                <label for="">Descripción del producto</label>
                <input
                  class="form-control form-control-sm"
                  formControlName="description"
                />
                <app-valid-form
                  [validacion]="{
                    formulario: this.formControl(),
                    input: 'description'
                  }"
                ></app-valid-form>
              </div>

              <div class="col-md-4 mb-3">
                <label for="">Categoria del producto</label>
                <select class="form-select form-select-sm" formControlName="categoryId">
                    <option disabled selected>Seleccione una categoria</option>
                    <option [value]="categoria.id" *ngFor="let categoria of listadoCategoria">{{categoria.name | titlecase}}</option>
                  </select>
                <app-valid-form
                  [validacion]="{
                    formulario: this.formControl(),
                    input: 'categoryId'
                  }"
                ></app-valid-form>
              </div>

              <div class="col-md-4 mb-3">
                <label for="">Imagenes del producto</label>
                <input
                  class="form-control form-control-sm"
                  formControlName="images"
                />
                <app-valid-form
                  [validacion]="{
                    formulario: this.formControl(),
                    input: 'images'
                  }"
                ></app-valid-form>
              </div>

              <div class="col-md-1 mb-3">
                <button type="button"  data-title="Agregar Imagen" class="btn btn-primary" (click)="agregarImagenesProd()" >
                  <i class="bi bi-plus-circle"></i>
                </button>
              </div>

              <div class="col-md-12" *ngIf="listadoImagenes.length > 0">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between" *ngFor="let image of listadoImagenes; let index=index"><span>{{image}}</span> <i class="bi bi-trash3 text-danger" data-title="Eliminar Imagen" (click)="EliminarImagenesProd(index)"></i></li>
                </ul>
              </div>
            
          </form>
          <div class="card my-2 shadow-sm">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h4 class="h6 text-secondary m-0">Listado de Productos</h4>
              <div class="col-md-4">
                <input
                  class="form-control form-control-sm"
                  placeholder="Buscar"
                />
              </div>
            </div>
            <div class="card-body">
              <div class="row" style="max-height: 400px; overflow-y: scroll;">
                <div class="col-md-4 mb-3" *ngFor="let producto of listadoProductos" >
                    <div class="card shadow-sm h-100 fade-in position-relative" >
                        <div class="position-absolute top-0 end-0" style="z-index: 1000;">
                            <button type="button" class="btn btn-primary" (click)="setEditarProducto(producto)"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-danger" (click)="deleteProducto(producto)"><i class="bi bi-trash3"></i></button>
                        </div>
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                              <div class="carousel-item active" *ngFor="let image of producto.images">
                                <img [src]="image" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        <div class="card-body">
                          <h5 class="card-title">{{producto.title}}</h5>
                          <p class="card-text text-secondary">{{producto.description}}</p>
                          <p class="card-text"><small class="text-primary">$ {{producto.price | currency}}</small></p>
                        </div>
                      </div>
                </div>
                
              </div>
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <img
        src="../../../../assets/images/img-conceptos.svg"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
  
