
<nav class="navbar bg-body-tertiary shadow-sm">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="col-7">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="col-3">
          <div class="d-flex gap-4 justify-content-end align-items-center float-end">
            <button type="button" class="btn" (click)="this._router.navigate(['/dashboard/']);"><i class="bi bi-columns-gap" ></i></button>
            <button type="button" class="btn" (click)="this._router.navigate(['/dashboard/']);"><i class="bi bi-bell"></i></button>
            
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
              </button>
              <ul class="dropdown-menu border-0 shadow bg-dark">
                <li><a class="dropdown-item text-primary" href="#">Perfil de Usuario</a></li>
                <li><a class="dropdown-item text-primary" href="#">Soporte Tecnico</a></li>
                <li><a role="button" class="dropdown-item text-primary" (click)="cerrarSesion()">Cerrar Sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2 p-0">
          <button class="navbar-toggler float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      
      
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-primary">
          <img src="../../assets/images/logo.png" alt="" width="200">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark bg-sidebar scroll-style">
          <app-sidebar></app-sidebar>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-3">
    <router-outlet></router-outlet>
  </div>
