@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/variables/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.scroll-style,
body {
  &::-webkit-scrollbar {
    width: 7px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0.7) !important;
  }
}

label {
  font-size: 14px;
}

::marker {
  color: #f0711d;
}

a {
  transition: 0.4s all;
  text-decoration: none;
}

h3 {
  color: #5f6368;
  font-weight: 500;
}

.hero {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  min-height: 95vh;
  position: relative;
  background: url(./assets/images/bg-hero.svg) no-repeat fixed;
  background-size: cover;
  background-position: center bottom;
}

@media (max-width: 768px) {
  .hero {
    clip-path: none;
  }
}

.image-scale {
  overflow: hidden;
  img {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.bg-sidebar {
  background: url(./assets/images/bg-sidebar.png) no-repeat fixed;
  background-size: contain;
  background-position: right bottom;
}

.card-prince {
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.card-prince-after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-147%, -50%);
  background-color: #f0711d;
  // opacity: 0.7;
  transition: 0.6s;
}

.card-prince:hover .card-prince-after {
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.329);
}

.banner {
  overflow: hidden;
  video {
    // object-fit: cover;
    object-position: center bottom;
  }
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 3px 20px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
}
[data-title] {
  position: relative;
}

.contenedor-tabla {
  width: 100%;
  margin-bottom: 20px;
  &::-webkit-scrollbar {
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #999;
  }
  ngx-datatable {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contenedor-tabla {
    width: 100% !important;
    overflow-x: scroll;
    ngx-datatable {
      width: 650px;
    }
  }
}

.fade-in {
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
