<section class="bg-dark" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-6 mt-5 text-center">
                <img src="../../../assets/images/404_error.svg" alt="">
                <h3 class="text-secondary">Lo sentimos, pagina solicitada no encontrada.</h3>
                <a href="#" class="btn btn-primary text-white w-50">Regresar al Inicio</a>
            </div>
        </div>
       
    </div>
</section>

