<h1 class="h2 text-center"><span class="text-primary">Gestiona tu negocio</span>, de forma agil y sencilla</h1>
<hr>


<div class="row">
    <div class="col-md-4 mb-3">
        <a type="button" (click)="this._router.navigate(['/dashboard/vistas/productos']);">
            <div class="card h-100 ">
                <div class="card-header text-primary">Ir a productos <i class="bi bi-arrow-right"></i></div>
                <div class="card-body">
                  <h5 class="card-title ">Gestiona tus productos</h5>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </a>
    </div>
    <div class="col-md-4 mb-3">
        <a type="button" (click)="this._router.navigate(['/dashboard/vistas//categorias']);">
            <div class="card h-100 ">
                <div class="card-header text-primary">Ir a categorias <i class="bi bi-arrow-right"></i></div>
                <div class="card-body">
                  <h5 class="card-title ">Gestiona tus categorias</h5>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </a>
    </div>
</div>
